footer{
    width: 100%;
    /* footer start */
    .footer1{
        width: 100%;
        /* logo digikala start */
        .footer-logo{
            width: 97%;
            height: 40px;
            margin: 10px auto;
            margin-top: 30px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .footer-logo-rast{
                width: 200px;
                height: 30px;
                margin: 5px;
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .footer-logo-chap{
                width: 130px;
                height: 40px;
                .bargasht{
                 width: 100%;
                 height: 100%;
                 padding: 8px 16px;
                 border-radius: 8px;
                 -webkit-border-radius:;
                 -moz-border-radius:;
                 -ms-border-radius:;
                 -o-border-radius:;
                 border: 1px solid var(--wind-chime);
                 cursor: pointer;
                
                & p{
                    font-size:13px ;
                    color: var(--gray-web);
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center; 
                    fill: var(--gray-web);
                }
                }
            }
        }
        /* logo digikala end */
        /* etelaat digikala start */
        .etelaat{
            width: 97%;
            height: 26px;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            gap: 22px;
            & p{
                width: 152px;
                height: 26px;
                color: #3f4064;
                font-size: 10px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;  
            }
            & h2{
                width: 61px;
                height: 26px;
                color: #3f4064;
                font-size: 10px;
                font-weight: 500;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;  
            }
            & h3{
                width: 1170px;
                height: 26px;
                color: #3f4064;
                font-size: 10px;
                font-weight: 500;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: right;  
            }



        }
        /* etelaat digikala end */
        /* khadamat digikala start */
        .khadamat{
            width: 97%;
            height: 103px;
            margin: 10px auto;
            margin-top: 20px;
            display: flex;
            gap: 2px;
            .khadamat-1{
                width: 293px;
                height: 100%;
                cursor: pointer;
                .svg-khadamat{
                    width: 293px;
                    height: 73px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                & p{
                    width: 100%;
                    height: 30px;
                    font-weight: 400;
                    font-size: 10px;
                    color: #3f4064;
                    text-align: center;
                }
            }
        }
        /* khadamat digikala end */
        /* rahnama digikala start */
        .rahnama{
            width: 97%;
            height: 270px;
            margin: 0 auto;
            margin-top: 20px;
            display: flex;
            gap: 1px;
            .bakhsh-1{
                width: 376px;
                height: 270px;
                display: flex;
                justify-content: right;
                flex-flow: column;
                & h2{
                    width: 376px;
                    height: 33px;
                    font-size: 15px;
                    font-weight: 700;
                    color: #3f4064;                    ;
                }
                & p{
                    width: 376px;
                    height: 30px;
                    font-weight: 400;
                    font-size: 15px;
                    color: #81858b;
                    margin-bottom: 9px;
                    cursor: pointer;
                }
                .svg-rahnama{
                    width: 270px;
                    height: 40px;
                    fill: #3f4064;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    margin-bottom: 32px;
                }
                .addres-email{
                    width: 376px;
                    height: 48px;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                    padding: 0px 16px;
                    gap: 5px;
                    & input{
                        width: 261px;
                        height: 48px;
                        background-color: transparent;
                        border-radius: 8px;
                        background-color: var(--bg-gry);
                        border: 0;
                        outline: unset;
                        padding: 0px 16px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius: 8px;
                        -o-border-radius: 8px;
                        &::placeholder{
                            font-size: 15px;
                            color: var( --bg-gunmetal-gray);
                        }
                    }
                    & a{
                        width: 53px;
                        height: 48px; 
                        background-color: #e0e0e2;
                        color: #fff;
                        text-decoration: none;
                        padding: 8px 16px;
                        border-radius: 8px;
                        -webkit-border-radius:;
                        -moz-border-radius:;
                        -ms-border-radius:;
                        -o-border-radius:;
                        border: 1px solid var(--wind-chime);
                    }
                }
            }
        }
        /* rahnama digikala end */
        /* daownload digikala start */
        .daownlowd-digikala{
            width: 97%;
            height: 76px;
            margin: 10px auto;
            background-color: #3c4b6d;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .download-rast{
                width: 288px;
                height: 48px;
                margin: 15px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                gap: 15px;
                & img{
                    width: 44px;
                    height: 44px;

                }
                & p{
                    font-weight: 500px;
                    color:  #fff;
                    font-size: 20px;
                }
            }
            .download-chap{
                width: 550px;
                height: 60px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                margin:10px ;
                & img{
                    width: 142px;
                    height: 44px;
                    margin: 0 auto;
                    object-fit: cover;
                }
                .more{
                    margin: 5px auto;
                    & img{
                        width: 44px;
                        height: 42px;
                        background-color: #fff;
                        border-radius: 5px;
                        -webkit-border-radius:;
                        -moz-border-radius:;
                        -ms-border-radius:;
                        -o-border-radius:;
                        margin: 0 auto;
}
                }

            }
        }
        /* daownload digikala end */
        /*bakhsh tozihat digikala start */
        .tozihat{
            width: 97%;
            height: 225px;
            margin: 30px auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .tozahat-rast{
                width: 1113px;
                height: 170px;
                margin-top: 25px;
                & h2{
                    font-weight: 500;
                    font-size: 20px;
                    color: #62666d;
                    
                }
                & h3{
                    color: #81858b;
                    font-size: 12px;
                    margin-top: 10px;
                }
                & a{
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    display: flex;
                    flex-flow: row wrap;
                    margin-top: 20px;
                    color: #19bfd3;
                    fill: #19bfd3;
                }
            }
            .tozihat-chap{
                width: 355px;
                height: 108px;
                margin-top: 25px;
                & img{
                    width: 108px;
                    height: 108px;
                    border: 1px solid var(--wind-chime);
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    gap: 20px;
                    object-fit: cover;
                }

            }
        }
        .tozihi{
            width: 97%;
            height: 88px;
            margin: 20px auto;
            & p{
                font-size: 12px;
                font-weight: 400;
                color: #81858b;
                text-align: center;
                line-height: 88px;
            }

        }
        .moarefi{
            width: 100%;
            height: 160px;
            background-color: #f0f0f1;
            display: flex;
            flex-flow: row wrap;
            .moarefi-mahsol{
              width: 189px;
              height: 80px;
              border: 1px solid var(--wind-chime);
                & img{
                     width: 70%;
                    height: 98%;
                    object-fit: unset;
                    margin-right: 25px;
                }
            }
            .moarefi-mahsol-t{
                width: 252px;
                height: 80px;
                border: 1px solid var(--wind-chime);
                & img{
                    width: 40%;
                   height: 98%;
                   object-fit: unset;
                   margin-right: 55px;
               }
            }
        }
        /*bakhsh tozihat digikala end */
    }
    /* footer end */
}